.container {
  margin: 45px;
  padding: 0;
  height: 280px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
  background-color: rgb(255, 214, 42);
}

.item {
  margin-left: 10px;
  width: 110px;
  height: 110px;
  background-color: rgb(176, 42, 255);
}