<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Greenfox Gallery</title>
  <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
</head>

<body>
  <img src="<%= picData.src %>">
</body>

</html>