<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Todos</title>
</head>

<body>
  <h1>THINGS TO DO TODAY</h1>
  <ul>
    <% list.forEach(element => { %>
      <li>
        <%= element %>
      </li>
      <% }); %>

  </ul>
</body>

</html>