body {
  background-color: black;
}

#container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 100vh;
  grid-gap: 10px;
}

div[id^="item"] {
  background-color: blueviolet;
}

#item2 {
  grid-area: 1 / 2 / 3 / 4;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

#yellow {
  background-color: yellow;
  position: relative;
  width: 80%;
  height: 70%;
}