.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.item {
  width: 380px;
}

.green {
  background-color: rgb(81, 212, 0);
  flex-grow: 1;
  order: 1;
}

.yellow {
  background-color: rgb(255, 214, 42);
  flex-grow: 2;
  order: 2;
}

.purple {
  background-color: rgb(176, 42, 255);
  flex-grow: 1;
  order: 0;
}